<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/img/tgl_Logo.ico" type="image/x-icon">
    <title>TGL</title>
    <meta name="description" content="Make bets and win">
</head>
<body>
    <header class="header__container">
        <div class="header__item">
            <span class="header__text header__text--main">TGL</span>
            <a href="" class="header__text">Home</a>
        </div>
        <div class="header__item">
            <a href="" class="header__text">Account</a>
            <a href="" class="header__text">Logout <img src="../static/img/arrow.svg" alt="Logout button image" class="Logout__arrow"></a>
        </div>
    </header>
    <main class="content__container">

        <section class="bet__section">

            <h2 class="bet__title">New bet <span class="bet__title__span">mega sena</span></h2>
            <h3 class="bet__choose__subtitle">Choose a game</h3>
            <div class="bet__choose__container">
                
            </div>
            <h3 class="bet__desc__initial">
                Fill your bet
            </h3>
            <span class="bet__desc">
            </span>
            <div class="bet__number__select">

            </div>
            <div class="bet__options__container">
                <div class="bet__options__notSubmit__buttons">
                    <button class="bet__option__button complete__game">Complete Game</button>
                    <button class="bet__option__button clear__game">Clear Game</button>
                </div>
                <span class="error__msg"></span>
                <button class="bet__option__button submit__to__cart">Add to Cart</button>
            </div>
            
        </section>

        <aside class="cart__container">
            <h2 class="cart__container__title">Cart</h2>
            <div class="cart__items__container">
                
            </div>
            </div>

            <span class="cart__total__container">Cart<h3 class="cart__total">0,00</h3></span>
            <div class="cart__save__container">
                <button class="cart__save__btn"> Save <img src="../static/img/save_arrow.svg" alt="Save cart button image" class="Save__arrow"></button>
                
            </div>
        </aside>
        
    </main>

    <footer class="footer__container">
        <span>Copyright 2021 Luby Software</span>
    </footer>
    <script src="../static/js/index.js"></script>
</body>
</html>